{% extends 'plantilla.html' %}

{% block section %}
<div class="container mt-5">
    <div class="card-hearder bg-secondary text-whit">
        Regisro de Boletos
    </div>
    <div class="card-body">
        <form method="post">

            {% csrf_token %}

            <div class="mb-3">
                <label>Pasajero</label>
                {{form.pasajero}}
            </div>

            <div class="mb-3">
                <label>Viaje</label>
                {{form.viaje}}
            </div>

                <div class="mb-3">
                    <label>No.Asiento</label>
                    {{form.no.asiento}}
                </div>
                Asiento Vendidos
                <select name="" id="">
                {% for pr in boleto %}
                    <option value="{{pr.id}}">viaje:{{pr.viaje}} - asiento: {{pr.no_asiento}}</option>
                {% endfor %}
                </select>

                <button type="submit" class="btn btn-outline-success">Guardar</button>
            </form>
            {% if messages %}
            {% for messages in messages %}
            <div class="alert alert-primary" role="alert">
                {{messages}}
            </div>
            {% endfor %}
            {% endif %}
    
        </div>
    </div>
</div>

{% endblock section %}