{% extends 'plantilla.html' %}

{% block section %}
<div class="container mt-5">
    <div class="card">
        <div class="card-hearder bg-secondary text-whit">
        Regisro de Buses
        </div>
        <div class="card-body">
            <form method="post">

                {% csrf_token %}

                <div class="mb-3">
                    <label>Placa</label>
                    {{form.placa}}
                </div>

                <div class="mb-3">
                    <label>Capacidad</label>
                    {{form.capacidad}}
                </div>

                <button type="submit" class="btn btn-dark"></button>
            </form>
        </div>
    </div>
</div>

{% endblock section %}