{% extends 'plantilla.html'%}

{% block section %}
<div class="container mt-5">
    <div class="card">
        <div class="card-hearder bg-secondary text-white">
             Registro de Pasajeros
            </div>
        <div class="card-body">
            <form method="'post">
                
                {% csrf_token %}
                <div class="mb-3"> 
                    <label>Nombre</label>
                    {{form.nombre}}
                </div>

                <div class="mb-3">
                    <label>Identificacion</label>
                    {{form.identificacion}}
                </div>

                <div class="mb-3">
                    <label>Correo</label>
                    {{form.correo}}
                </div>

                <button class="btn btn-outline-success">Guardar</button>
                
            </form>
        </div>
    </div>
</div>

{% endblock section %}